/* Применение наследуемых стилей */
// html {
//   scroll-behavior: smooth;
// }

body {
  font-family: $main-font-family;
  color: $main-text-color;
  font-style: normal;
  font-size: $text-font-size-small;
  font-weight: normal;
  min-width: 320px;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

/* Убираются внешние и внутриние отступы для секции */
section {
  margin: 0;
  padding: 0;
}

/* Убираются внешние и внутриние отступы для заголовков */
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

/* Убирается подчеркивание ссылок */
a {
  text-decoration: none;
}

/* Убираются точки для маркированного списка */
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
