<section class="about" id="about">
  <h2 class="visually-hidden">About</h2>
  <div class="about__list">
    <div class="about__item">
      <div class="about__icon-block">
        <i class="about__icon fas fa-university"></i>
        <!-- <svg>
          <use href="./icons/symbol-defs.svg#university"></use>
        </svg> -->
      </div>
      <p class="about__caption">Investmant Banking</p>
      <p class="about__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
      </p>
    </div>
    <div class="about__item">
      <div class="about__icon-block">
        <i class="about__icon fas fa-book-reader"></i>
        <!-- <svg class="about__icon">
          <use href="./icons/symbol-defs.svg#book-reader"></use>
        </svg> -->
      </div>

      <p class="about__caption">Portfolio Manager</p>
      <p class="about__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
      </p>
    </div>
    <div class="about__item">
      <div class="about__icon-block">
        <i class="about__icon fas fa-pencil-alt"></i>
        <!-- <svg class="about__icon">
          <use href="./icons/symbol-defs.svg#pencil"></use>
        </svg> -->
      </div>

      <p class="about__caption">Tax & Custudio</p>
      <p class="about__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
      </p>
    </div>
  </div>
  <div class="about__info">
    <picture>
      <source
        srcset="./images/home/people.webp 1x, ./images/home/people@2x.webp 2x"
        type="image/webp"
      />
      <img
        class="about__info-image"
        srcset="./images/home/people.jpg 1x, ./images/home/people@2x.jpg 2x"
        src="./images/home/people.jpg"
        alt="People team"
      />
    </picture>
    <div class="about__info-block">
      <p class="about__info-caption-text">What you are looking for</p>
      <p class="about__info-caption">We provide bespoke solutions</p>
      <p class="about__info-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
        laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque
        rerum temporibus doloribus iste maiores deleniti?
      </p>
      <button class="about__info-button">
        <i class="about__button-icon fas fa-angle-right"></i>Read More
      </button>
    </div>
  </div>
</section>
