<section class="blog" id="blog">
  <div class="blog__box">
    <p class="blog__text-date">April 16 2020</p>
    <h2 class="blog__caption">Blog Post One</h2>
    <p class="blog__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
      laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum
      temporibus doloribus iste maiores deleniti?
    </p>
    <button class="blog__button"><i class="blog__icon fas fa-angle-right"></i>Read Our Blog</button>
  </div>
  <img class="blog__image" src="./images/home/blog.jpg" alt="" />
</section>
