<section class="bussines-cases" id="cases">
  <p class="bussines-cases__text-caption">This is what we do</p>
  <h2 class="bussines-cases__caption">Business Cases</h2>
  <p class="bussines-cases__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
  </p>
  <div class="bussines-cases__image-box">
    <a
      class="bussines-cases__image-link"
      href="./images/cases/cases1@2x.jpg"
      data-lightbox="cases-set"
      data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!"
    >
      <picture>
        <source
          srcset="./images/cases/cases1.webp 1x, ./images/cases/cases1@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/cases/cases1.jpg 1x, ./images/cases/cases1@2x.jpg 2x"
          src="./images/cases/cases1.jpg"
          alt="People sign a contract"
        />
      </picture>
    </a>
    <a
      class="bussines-cases__image-link"
      href="./images/cases/cases2@2x.jpg"
      data-lightbox="cases-set"
      data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!"
    >
      <picture>
        <source
          srcset="./images/cases/cases2.webp 1x, ./images/cases/cases2@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/cases/cases2.jpg 1x, ./images/cases/cases2@2x.jpg 2x"
          src="./images/cases/cases2.jpg"
          alt="Work on a computer"
        />
      </picture>
    </a>
    <a
      class="bussines-cases__image-link"
      href="./images/cases/cases3@2x.jpg"
      data-lightbox="cases-set"
      data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!"
    >
      <picture>
        <source
          srcset="./images/cases/cases3.webp 1x, ./images/cases/cases3@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/cases/cases3.jpg 1x, ./images/cases/cases3@2x.jpg 2x"
          src="./images/cases/cases3.jpg"
          alt="Writing in notepad"
        />
      </picture>
    </a>
    <a
      class="bussines-cases__image-link"
      href="./images/cases/cases4@2x.jpg"
      data-lightbox="cases-set"
      data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!"
    >
      <picture>
        <source
          srcset="./images/cases/cases4.webp 1x, ./images/cases/cases4@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/cases/cases4.jpg 1x, ./images/cases/cases4@2x.jpg 2x"
          src="./images/cases/cases4.jpg"
          alt="Skyscrapers"
        />
      </picture>
    </a>
    <a
      class="bussines-cases__image-link"
      href="./images/cases/cases5@2x.jpg"
      data-lightbox="cases-set"
      data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!"
    >
      <picture>
        <source
          srcset="./images/cases/cases5.webp 1x, ./images/cases/cases5@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/cases/cases5.jpg 1x, ./images/cases/cases5@2x.jpg 2x"
          src="./images/cases/cases5.jpg"
          alt="People shaking hands"
        />
      </picture>
    </a>
    <a
      class="bussines-cases__image-link"
      href="./images/cases/cases6@2x.jpg"
      data-lightbox="cases-set"
      data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!"
    >
      <picture>
        <source
          srcset="./images/cases/cases6.webp 1x, ./images/cases/cases6@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/cases/cases6.jpg 1x, ./images/cases/cases6@2x.jpg 2x"
          src="./images/cases/cases6.jpg"
          alt="Team at work"
        />
      </picture>
    </a>
    <a
      class="bussines-cases__image-link"
      href="./images/cases/cases7@2x.jpg"
      data-lightbox="cases-set"
      data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!"
    >
      <picture>
        <source
          srcset="./images/cases/cases7.webp 1x, ./images/cases/cases7@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/cases/cases7.jpg 1x, ./images/cases/cases7@2x.jpg 2x"
          src="./images/cases/cases7.jpg"
          alt="The team put their hands one on one"
        />
      </picture>
    </a>
    <a
      class="bussines-cases__image-link"
      href="./images/cases/cases8@2x.jpg"
      data-lightbox="cases-set"
      data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!"
    >
      <picture>
        <source
          srcset="./images/cases/cases8.webp 1x, ./images/cases/cases8@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="./images/cases/cases8.jpg 1x, ./images/cases/cases8@2x.jpg 2x"
          src="./images/cases/cases8.jpg"
          alt="People work at the computer and smile"
        />
      </picture>
    </a>
  </div>
</section>
