<footer class="footer" id="footer">
  <div class="footer__social">
    <span class="footer__social-icon"><i class="fab fa-facebook"></i></span>
    <span class="footer__social-icon"><i class="fab fa-twitter"></i></span>
    <span class="footer__social-icon"><i class="fab fa-youtube"></i></span>
    <span class="footer__social-icon"><i class="fab fa-linkedin"></i></span>

    <!-- <svg >
      <use href="./icons/symbol-defs.svg#facebook"></use>
    </svg> -->

    <!-- <svg class="footer__social-icon">
      <use href="./icons/symbol-defs.svg#twitter"></use>
    </svg> -->

    <!-- <svg class="footer__social-icon">
      <use href="./icons/symbol-defs.svg#youtube"></use>
    </svg> -->

    <!-- <svg class="footer__social-icon">
      <use href="./icons/symbol-defs.svg#linkedin"></use>
    </svg> -->
  </div>

  <p class="footer__text">Copyright © 2021 - FinanceLedger</p>
</footer>
