<header class="header" id="header">
  <nav class="header__nav">
    <div class="header__logo">
      <i class="header__icon fas fa-book-open"></i>
      <!-- <svg class="">
        <use href="./icons/symbol-defs.svg#book-open"></use>
      </svg> -->
      <a href="#home" class="logo__link">
        <span class="header__logo--green">Finance</span
        ><span class="header__logo--white">Ledger</span>
      </a>
    </div>
    <ul class="header__list-pages">
      <li class="header__item-pages">
        <a href="#hero" class="header__link">Home</a>
      </li>
      <li class="header__item-pages">
        <a href="#about" class="header__link">About</a>
      </li>
      <li class="header__item-pages">
        <a href="#cases" class="header__link">Cases</a>
      </li>
      <li class="header__item-pages">
        <a href="#blog" class="header__link">Blog</a>
      </li>
      <li class="header__item-pages">
        <a href="#contact" class="header__link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
