<section class="team" id="team">
  <p class="team__text-caption">Who we are</p>
  <h2 class="team__caption">Our Professional Team</h2>
  <p class="team__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
  </p>
  <ul class="team__card-box">
    <li class="team__card">
      <div class="team__image">
        <picture>
          <source
            srcset="./images/team/person1.webp 1x, ./images/team/person1@2x.webp 2x"
            type="image/webp"
          />
          <img
            class="team__photo"
            srcset="./images/team/person1.jpg 1x, ./images/team/person1@2x.jpg 2x"
            src="./images/team/person1.jpg"
            alt="President John Doe"
          />
        </picture>
        <div class="team__card-overlay">
          <span class="team__card-icon"><i class="fab fa-facebook"></i></span>
          <span class="team__card-icon"><i class="fab fa-twitter"></i></span>
          <span class="team__card-icon"><i class="fab fa-youtube"></i></span>
          <span class="team__card-icon"><i class="fab fa-linkedin"></i></span>
        </div>
      </div>

      <p class="team__card-name">John Doe</p>
      <p class="team__card-text">President</p>
    </li>
    <li class="team__card">
      <div class="team__image">
        <picture>
          <source
            srcset="./images/team/person2.webp 1x, ./images/team/person2@2x.webp 2x"
            type="image/webp"
          />
          <img
            class="team__photo"
            srcset="./images/team/person2.jpg 1x, ./images/team/person2@2x.jpg 2x"
            src="./images/team/person2.jpg"
            alt="Vice President Jane Doe"
          />
        </picture>
        <div class="team__card-overlay">
          <span class="team__card-icon"><i class="fab fa-facebook"></i></span>
          <span class="team__card-icon"><i class="fab fa-twitter"></i></span>
          <span class="team__card-icon"><i class="fab fa-youtube"></i></span>
          <span class="team__card-icon"><i class="fab fa-linkedin"></i></span>
        </div>
      </div>
      <p class="team__card-name">Jane Doe</p>
      <p class="team__card-text">Vice President</p>
    </li>
    <li class="team__card">
      <div class="team__image">
        <picture>
          <source
            srcset="./images/team/person3.webp 1x, ./images/team/person3@2x.webp 2x"
            type="image/webp"
          />
          <img
            class="team__photo"
            srcset="./images/team/person3.jpg 1x, ./images/team/person3@2x.jpg 2x"
            src="./images/team/person3.jpg"
            alt="Marketing Head Steve Smith"
          />
        </picture>
        <div class="team__card-overlay">
          <span class="team__card-icon"><i class="fab fa-facebook"></i></span>
          <span class="team__card-icon"><i class="fab fa-twitter"></i></span>
          <span class="team__card-icon"><i class="fab fa-youtube"></i></span>
          <span class="team__card-icon"><i class="fab fa-linkedin"></i></span>
        </div>
      </div>
      <p class="team__card-name">Steve Smith</p>
      <p class="team__card-text">Marketing Head</p>
    </li>
  </ul>
</section>
