#cases {
  margin-top: -170px;
  padding-top: 170px;
}

.bussines-cases {
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
}

.bussines-cases__image-link {
  display: block;
}

.bussines-cases__image-link:not(:last-child) {
  margin-bottom: 7px;
}

.bussines-cases__image-box {
  margin-bottom: 46px;
}

.bussines-cases__image {
  width: 100%;
}

.bussines-cases__image:hover {
  opacity: 0.6;
}

.bussines-cases__text-caption {
  font-size: $text-font-size-medium;
  line-height: 30px;
  text-align: center;

  color: $main-text-color;
  margin-bottom: 15px;
}

.bussines-cases__caption {
  font-size: $caption-font-size;
  font-weight: 300;
  line-height: 48px;
  text-align: center;

  color: $main-text-color;
  margin-bottom: 35px;
}

.bussines-cases__text {
  font-size: $text-font-size-small;
  line-height: 26px;
  text-align: center;

  color: $main-text-color;
  margin-bottom: 37px;
}

@media screen and (min-width: $width-tablet) {
  #cases {
    margin-top: -118px;
    padding-top: 118px;
  }

  .bussines-cases {
    padding: 0 28px;
    margin: 0;
    margin-bottom: 48px;

    &__text-caption {
      font-size: $text-font-size-large;
      line-height: 33px;
      margin-bottom: 15px;
    }

    &__caption {
      margin-bottom: 35px;
    }

    &__text {
      margin-bottom: 38px;
    }

    &__image-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 7px 8px;
      justify-content: space-between;
      margin-bottom: 0;
    }

    &__image {
      margin-bottom: 0;
    }

    &__image-link:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: $width-desktop) {
  .bussines-cases__image {
    margin-bottom: 0;
  }
}
