.footer {
  background: #333333;
  padding: 20px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__social-icon {
  font-size: 35px;
  color: $color-white;
  margin-bottom: 9px;
}

.footer__social-icon:not(:last-child) {
  margin-right: 25px;
}

.footer__social-icon:hover,
.footer__social-icon:focus {
  color: $accent-color;
}

.footer__text {
  font-size: $text-font-size-small;
  line-height: 26px;
  text-align: center;

  color: $color-white;
}

@media screen and (min-widht: $width-tablet) {
  .footer__text {
    font-size: $text-font-size-medium;
    line-height: 28px;
  }
}
