.footer {
  background: #333333;
  padding: 20px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__social-icon {
  font-size: 35px;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer__social-icon:not(:last-child) {
  margin-right: 25px;
}

.footer__social-icon:hover,
.footer__social-icon:focus {
  color: #28a745;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  color: #ffffff;
}

@media screen and (min-widht: 768px) {
  .footer__text {
    font-size: 18px;
    line-height: 28px;
  }
}
