.header {
  position: relative;
  padding: 20px;
  height: 120px;

  &__box--fixed {
    position: fixed;
    width: 100%;
    max-width: 1360px;
    background-color: rgba(0, 0, 0, 0.4);
    animation: 0.3s animate 1;
    z-index: 100;
  }

  @keyframes animate {
    0% {
      transform: translateY(-60px);
    }

    100% {
      transform: translateY(0);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    font-size: 35px;
    color: $accent-color;
    margin-right: 6px;
    text-align: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__logo--green {
    font-size: 32px;
    line-height: 42px;
    color: $accent-color;
  }

  &__logo--white {
    font-size: 32px;
    line-height: 42px;

    color: $color-white;
    margin-bottom: 10px;
  }

  &__logo:hover,
  &__logo:focus {
    transform: scale(1.05);
    transition: 0.3s;
  }

  &__logo:hover &__icon,
  &__logo:hover &__logo--green,
  &__logo:focus &__icon,
  &__logo:focus &__logo--green {
    color: #28a746b9;
  }

  &__logo--green:hover,
  &__logo--green:focus {
    color: #28a746b9;
  }
  &__logo:hover &__logo--white,
  &__logo:focus &__logo--white {
    opacity: 0.8;
  }

  &__list-pages {
    display: flex;
  }

  &__item-pages {
    display: block;
    margin-bottom: 44px;
  }

  &__item-pages:not(:last-child) {
    margin-right: 14px;
  }

  &__link {
    position: relative;

    font-size: $text-font-size-small;
    line-height: 26px;
    color: $color-white;
  }

  &__link:hover::after,
  &__link:focus:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    display: block;
    width: 130%;
    height: 2px;
    background-color: $accent-color;
    border-radius: 2px;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: $width-tablet) {
  .zaminitel-js {
    height: 70px;
  }

  .header {
    height: 70px;
    padding: 10px 40px;
    min-height: 70px;

    &__nav {
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo--green {
      font-size: 35px;
      line-height: 42px;
    }

    &__logo--white {
      font-size: 35px;
      line-height: 42px;
    }

    &__item-pages {
      margin: 0;
    }

    &__item-pages:not(:last-child) {
      margin-right: 19px;
    }

    &__link {
      font-size: $text-font-size-medium;
      line-height: 28px;
    }
  }
}

@media screen and (min-width: $width-desktop) {
  .header {
    padding: 10px 50px;

   

   

    &__item-pages {
      margin: 0;
    }

    &__item-pages:not(:last-child) {
      margin-right: 38px;
    }
  }
}
