.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 144px;
  padding-bottom: 95px;

  // &__header-box--fixed {
  //   padding-top: 144px;
  // }

  &__caption {
    font-size: 52px;
    line-height: 66px;
    font-weight: 300;
    text-align: center;
    color: #e9e9e9;

    margin-bottom: 16px;
  }

  &__text {
    font-size: 22px;
    line-height: 37px;
    text-align: center;
    color: #e9e9e9;

    margin-bottom: 27px;
  }

  &__icon {
    width: 9px;
    height: 18px;
    fill: #fff;
    margin-right: 6px;
  }

  &__button {
    background: $accent-color;
    border-radius: 5px;
    outline: none;
    border: transparent;

    font-size: $text-font-size-small;
    line-height: 26px;
    text-align: center;
    color: $color-white;
  }

  &__button:hover,
  &__button:focus {
    opacity: 0.8;
  }
}

@media screen and (min-width: $width-tablet) {
  .hero {
    padding-top: 254px;
    padding-bottom: 412px;
    transition: 0.3s;

    &__box--onscroll {
      padding-top: 407px;
    }

    &__caption {
      margin-bottom: 25px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: $width-desktop) {
  .hero {
    padding-bottom: 284px;

    &__caption {
      font-size: 55px;
      margin-bottom: 25px;
    }

    &__box--onscroll {
      padding-top: 279px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__button {
      font-size: $text-font-size-medium;
      line-height: 28px;
    }
  }
}
